.checkboxWrapper {
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    margin-right: 0.5em;
  }
  
  .defaultCheckbox {
    width: 20px;
    height: 20px;
  }
  
  .label {
    font-size: 1em;
    color: #333;
  }
  
  .defaultLabel {
    font-weight: normal;
  }
  