/* Hero.module.css */
@import url("https://fonts.googleapis.com/css2?family=Tac+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --black: #0a0809;
  --white: #FBFBFB;
  --ijo: #c9f422;
  --ijo-dark: #b1da0b;
  --pink: #ed89fb;
  --pink-dark: #e96bfa;
  --crem: #c9d1f5;

  --clamp-big: clamp(3rem, 20vw, 20rem);
  --clamp-med: clamp(4rem, 10vw, 8rem);
  --clamp-sub: clamp(2.7rem, 5vw, 6rem);
  --clamp-txt: clamp(0.7rem, 1.2vw, 1rem);
  --clamp-btn: clamp(0.8rem, 1vw, 1rem);

  --unicone: "Tac One", sans-serif;
  --roboto: "Roboto", sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5%;
  position: relative;
}

.content {
  flex: 1;
}

.title {
  font-size: var(--clamp-big);
  font-family: var(--unicone);
  text-transform: uppercase;
  line-height: 65%;
  color: var(--pink);
  margin: 0;
  padding: 0;
}

.imageContainer {
  width: 15%;
  position: absolute;
  top: 40%;
  right: 10%;
}

.image {
  width: 100%;
  transform: rotateZ(25deg);
  -webkit-transform: rotateZ(25deg);
  -moz-transform: rotateZ(25deg);
  -ms-transform: rotateZ(25deg);
  -o-transform: rotateZ(25deg);
}


@media (min-width: 768px) {
  .title {
    width: 80vw;
  }
}