/* Collapsible.module.css */
@import url("https://fonts.googleapis.com/css2?family=Tac+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --black: #0a0809;
  --white: #FBFBFB;
  --ijo: #c9f422;
  --ijo-dark: #b1da0b;
  --pink: #ed89fb;
  --pink-dark: #e96bfa;
  --crem: #c9d1f5;

  --clamp-big: clamp(3rem, 20vw, 20rem);
  --clamp-med: clamp(4rem, 10vw, 8rem);
  --clamp-sub: clamp(2.7rem, 5vw, 6rem);
  --clamp-txt: clamp(0.7rem, 1.2vw, 1rem);
  --clamp-btn: clamp(0.8rem, 1vw, 1rem);

  --unicone: "Tac One", sans-serif;
  --roboto: "Roboto", sans-serif;
}

.collapsible {
    border: 1px solid var(--pink);
    border-radius: 4px;
    margin: 10px 0;
  }
  
  .header {
    background-color: var(--pink);
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-family: var(--roboto);
    font-weight: 500;
  }
  
  .content {
    padding: 10px;
    border-top: 1px solid var(--pink);
    color: var(--crem);
    font-family: var(--roboto);
    font-size: var(--clamp-txt);
  }
  